/*
 * site header
 */
.site-header {
  background-color: #FFFFFF;
  display: flex;
}
.site-header a {
  font-size: 20px;
  color: #000000;
  transition: color .15s ease-in-out;
  text-decoration: none;
}
.site-header a:hover {
  color: #9b9b9b;
  text-decoration: none;
  cursor: pointer;
}

.header-right{
  padding-top: 11px;
  text-align: center;
  justify-content: space-between !important;
  align-items: center ;
}

.header-right a{
  font-size: 14px;
  color: #000000;
  transition: color .15s ease-in-out;
  text-decoration: none;
  margin-left: 20px;
}

.header-right a:hover {
  font-size: 14px;
  color: #8e8e8e;
  text-decoration: none;
  cursor: pointer;
}


/*
 * site footer
 */
 footer{
  text-align: center;
  background-color: #FFFFFF;
}

.footer-content{
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8e8e8e;
  font-size: 13px;
  transition: color 0.3s ease;
  text-align: center;
}

.footer-logo img {
  max-width: 150px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li{
  margin: 5px 0;
}

.footer-links a{
  color: #8e8e8e;
  text-decoration: none;
}

.footer-links a:hover{
  color: #bbbbbb;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

.company-intro{
  color: #8e8e8e;
  font-size: 13px;
  text-align: center;
}


/*
 * main
 */
.container {
  display: flex;
  justify-content: center;
}

/* item 가로 정렬 */
.ver-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 배경 이미지 컨테이너 */
.img-container {
  background-size: cover; /* 이미지를 컨테이너에 맞게 크기 조절 */
  background-position: center; /* 이미지를 가운데 정렬 */
  height: 250px; /* 화면 전체 높이로 설정 */
  display: flex;
  justify-content: center; /* 내용 가운데 정렬 */
  align-items: center;
  color: #fff; /* 텍스트 색상 설정 */
  text-align: center;
}

/* index 배경 이미지 컨테이너 */
.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 75vh;
  display: flex;
  align-items: center;
}

.background-image2 {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 75vh;
  display: flex;
  align-items: center;
}

.part-container {
  background-color: #eeeeee;
  padding: 15px;
  display: flex; /* 가로 중앙 정렬을 위한 flex */
  justify-content: center; /* 가로 중앙 정렬 */
}

.part-container2 {
  background-color: #FFFFFF;
  padding: 25px;
  border-radius: 10px;
}

/* one scroll */
.section {
    width: 100%;
    height: 100vh; /* 뷰포트 높이 만큼 섹션을 채움 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.scroll-links {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}

.scroll-links a {
  width: 20px;
  height: 20px;
  background-color: #bbbbbb94; /* 원의 배경색상 */
  border-radius: 50%; /* 원 모양 만들기 */
  margin: 10px 30px; /* 각 원 사이의 간격 조정 */
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.scroll-links a:hover {
  background-color: #a2c7b1; /* 원 위에 마우스를 올렸을 때 배경색 변경 */
}

.card-container {
  max-width: 1000px;
  flex-wrap: wrap;
  display: flex;
  position: relative;
}
/*  */

/* 카드뉴스 */
.card {
  width: calc(33.33% - 20px);
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* 버튼 스타일 */
.btn2 {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #9fc2e7;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute; /* 화살표 위치 설정을 위해 절대 위치로 설정 */
  top: 50%; /* 세로 중앙 정렬 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  z-index: 2;
}

.btn2:hover {
  background-color: #0056b3;
}

/* 이전 버튼 */
.prev {
  left: -45px;
}

/* 다음 버튼 */
.next {
  right: -45px;
}
/*  */

.btn-outline-success{
  color: #ffffff;
  border-color: #b4b4b4;
  background-color: #b4b4b4;
}

/* 메뉴 버튼 스타일 */
.menu-button {
  padding: 10px 10px;
  width: 250px;
  font-size: 16px;
  background-color: #6da594;
  color: #fff;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 선택된 버튼 스타일 */
.menu-button.selected {
  background-color: #00744d;
}

.site-button {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: flex;
  justify-content: center; /* 내용 가운데 정렬 */
}

/* 회색글씨 */
.gray{
  padding: 10px;
  color: #666666;
  font-size: 16px;
}

.form-control{
  width: 800px !important;
}